# 项目排除路径
/legou-parent/legou-admin/legou-admin-instance/target/
/legou-parent/legou-admin/legou-admin-service/target/
/legou-parent/legou-auth-center/target/
/legou-parent/legou-canal/target/
/legou-parent/legou-common/target/
/legou-parent/legou-core/target/
/legou-parent/legou-gateway/target/
/legou-parent/legou-item/legou-item-instance/target/
/legou-parent/legou-item/legou-item-service/target/
/legou-parent/legou-order/legou-order-interface/target/
/legou-parent/legou-order/legou-order-service/target/
/legou-parent/legou-page/target/
/legou-parent/legou-pay/target/
/legou-parent/legou-search/legou-search-instance/target/
/legou-parent/legou-search/legou-search-service/target/
/legou-parent/legou-seckill/legou-seckill-interface/target/
/legou-parent/legou-seckill/legou-seckill-service/target/
/legou-parent/legou-security/legou-security-instance/target/
/legou-parent/legou-security/legou-security-service/target/
/legou-parent/legou-upload/target/
.idea
.gitignore